:root {
  --max-width: 1100px;
  --border-radius: 12px;

  --primary-color: rgb(86, 9, 130);
  --primary-text: rgb(237, 231, 231);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  padding: 0 60px;
}

.primary-btn {
  padding: 8px 14px;
  background-color: var(--primary-color);
  color: var(--primary-text);
  font-weight: 700;
  text-decoration: none;
  border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
